@tailwind base;
@tailwind components;
@tailwind utilities;

.toOren {
  transition: 0.3 ease-out !important;
}
.toOren:hover {
  background-color: #ff7900 !important;
  transform: translateX(.6rem)!important
}
.toOren:active {
  transform: scale(0.95) !important;
}
.shadowCustom {
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.5);
}

.buton:active{
  transform: scale(.6);
}

.back{
  background-color: #00000094!important
}

.oren{
    background-color: #ff7900 !important;
}
.orentext{
  color:#ff7900!important
}
.orenborder{
  border: 2px solid #ff7900;
}